:root{
    --primary: #fea116;
    --light:#f1f8ff;
    --dark:#0f172b;
}

body{
    background-color: #f1f8ff;
}

/* ======= button ======= */
.btn{
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary{
    color: #ffffff;
}

/* ============== Header section ============== */
.carousel-caption{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 23, 43, 0.7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next{
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    width: 3rem;
    height: 3rem;
}