:root{
    --primary: #fea116;
    --light:#f1f8ff;
    --dark:#0f172b;
}

body{
    background-color: #f1f8ff;
}

/* ======= button ======= */
.btn{
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary{
    color: #ffffff;
}

/* ============ section title ============ */
.section-title{
    position: relative;
    display: inline-block;
}

.section-title::before{
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title::after{
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    right: -55px;
    margin-top: -1px;
    background: var(--primary);
}

.section-title.text-start::before,
.section-title.text-end::after{
    display: none;
}

/* ============== NavBar section ============== */
.navbar{
    position: fixed;
    width: 100%;
}


.navbar-nav{
    margin-left: 400px;
}

.navbar-nav .nav-link{
    margin-right: 30px;
    padding: 25px 0;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;  
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
}


/* ============== Header section ============== */
.carousel-caption{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(15, 23, 43, 0.7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next{
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
    width: 3rem;
    height: 3rem;
}

.booking{
    position: relative;
    margin-top: -100px !important;
    z-index: 1;
}

.hover-zoom:hover {
    transform: scale(1.05); /* Increase the scale on hover for a zoom effect */
    transition: transform 0.3s ease; /* Add transition effect for smoother hover */
}


/* ============== Gallery section ============== */
.container .gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.container .gallery .gallery1 {
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .gallery .gallery1 img {
    width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
    transition: transform 0.3s ease; 
}

.container .gallery .gallery1 img:hover {
    transform: scale(1.05); 
}



@media only screen and (max-width:769px){
    .container .gallery{
        flex-direction: column;
    
    }

    .container .gallery .gallery1{
        width: 100%;
    }
}


/* ============== Service section ============== */
.service-item{
    height: 320px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

.service-item:hover{
    background: var(--primary);
}

.service-item .service-icon{
    margin: 0 auto 30px auto;
    width: 65px;
    height: 65px;
    transition: 0.5s;
}

.service-icon i,
.service-icon h5,
.service-icon p{
    transition: 0.5s;
}

.service-icon:hover i,
.service-icon:hover h5,
.service-icon:hover p{
    color: #fff !important;
}

/* ============== testimonial section ============== */
.testimonial{
    background: linear-gradient(rgba(15,23,43,0.7), rgba(15,23,43,0.7)), url(/assest/images/testimonial.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.testimonial-carousel{
    padding-left: 65px;
    padding-right: 65px;
    display: flex;
    gap: 30px;
}

.testimonial-carousel .testimonial-item{
    padding: 30px;
}

.testimonial-carousel .owl-nav{
    position: absolute;
    width: 100%;
    height: 40px;
    top: calc(50% - 20px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background: var(--primary);
    border-radius: 2px;
    font-size: 18px;
    transition: 0.5s;
}

/* ============== footer section ============== */
.footer{
    position: relative;
}

.footer .btn.btn-social{
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #ffffff;
    border-radius: 35px;
    transition: 0.3s;
}

.footer .btn.btn-link{
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

/* before */
.footer .btn.btn-link::before{
    position: relative;
    content: "\f105";
    font-family: "Font Awesome S free";
    font-weight: 900;
    margin-right: 10px;
    text-decoration: none;
}

.footer .btn.btn-link{
    text-decoration: none;
}

.footer .btn.btn-link:hover{
    letter-spacing: 1px;
    box-shadow: none;
    text-decoration: none;
    color: #fea116;
}

.footer .copyright{
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a{
    color: var(--light);
    text-decoration: none;
}

.footer .footer-menu a{
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgb(255, 255, 255 , 0.3);
    text-decoration: none;
}

.footer .footer-menu a:hover{
    color: #fea116;
}

.footer .footer-menu a:last-child{
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

a{
    text-decoration: none;
    color: inherit;
}
